<div id="popup_content" class="popped_content">
Thanks for submitting your vote!<p>
	<%= link_to(image_tag(voted_look.default_photo.public_filename(:tiny)), :controller => 'look', :action => 'view', :id => voted_look.id)%></p>
</div>