<div id="footer">
	All contents copyright &copy; 2009, Fashism, LLC. All rights reserved.<br/>
	<a href="http://www.fashism.com/user_agreement.html" rel="external">User Agreement</a> , <a href="http://www.fashism.com/privacy_policy.html" rel="external">Privacy Policy</a>
</div>